:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;

  p {
    width: 80%;
  }
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

h2 {
  color: rgb(32, 181, 32);
  font-size: 30px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: rgb(32, 181, 32);
    transition: 0.5s;
  }
}

p {
  width: 80%;
  margin: auto;
  text-justify: initial;
}
